* {
    box-sizing: border-box;
    --color-header: #C3CFD9;
    --color-text-header-and-button: #E8833A;
    --color-normal-text: #293845;
    --color-text-button: #FFFFFF;
    --color-footer: #DFE6ED;
    --color-border-footer: #9EADBA;
    --color-border-input: #D4D4D4;
    --height-header: 6vh;
    --height-footer: 105px;
}

body {
    font-family: 'Roboto', sans-serif;
}

@mixin flex($justify-content: center, $align-items: center) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

header {
    width: 100vw;
    background-color: var(--color-header);
    color: var(--color-text-header-and-button);
    height: var(--height-header);
    @include flex(center, center);
    font-size: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.main {
    margin-top: var(--height-header);
    margin-bottom: var(--height-footer);

    & img {
        width: 129px;
        height: 193px;
        margin: 0 0 20px 10px;

        &:hover {
            cursor: pointer;
            box-shadow: 0 0 4px 4px var(--color-text-header-and-button);
        }
    }

    &__movies {
        display: flex;
        flex-wrap: wrap;                                               
        justify-content: space-evenly;
    }

    & p {
        text-align: center;
        padding: 40px;
        font-size: 24px;
        letter-spacing: 4%;
    }

    &__session-screen {

        & p {
            text-align: left;
            margin-left: -20px;
            font-size: 20px;
            margin-top: -15px;
            letter-spacing: 2%;
        }

        & button {
            border: none;
            margin-left: 23px;
            width: 83px;
            height: 43px;
            margin-top: -10px;
            background-color: var(--color-text-header-and-button);
            border-radius: 3px;
            color: white;
            font-size: 18px;
            margin-bottom: 15px;

            &:hover {
                cursor: pointer;
                box-shadow: 0 0 4px 4px rgba(0,0,0,0.4);
            }
        }
    }

    &__seats {
        @include flex(center, center);
        flex-wrap: wrap;
        margin-bottom: 18px;
    }

    &__seat-labels {
        @include flex(space-evenly, center);

        &__selected {
            @include flex(center, center);
            flex-direction: column;

            & div {
                width: 24px;
                height: 24px;
                background-color: #8DD7CF;
                border-radius: 50%;
                border: 1px solid #1AAE9E;
                margin-bottom: 10px;
            }
        }

        &__available {
            @include flex(center, center);
            flex-direction: column;

            & div {
                width: 24px;
                height: 24px;
                background-color: var(--color-header);
                border-radius: 50%;
                border: 1px solid #808F9D;
                margin-bottom: 10px;
            }
        }

        &__unavailable {
            @include flex(center, center);
            flex-direction: column;

            & div {
                width: 24px;
                height: 24px;
                background-color: #FBE192;
                border-radius: 50%;
                border: 1px solid #F7C52B;
                margin-bottom: 10px;
            }
        }

        & label {
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            letter-spacing: -1.3%;
            color: #4E5A65;
        }
    }
}

.footer {
    width: 100vw;
    background-color: var(--color-footer);
    color: var(--color-normal-text);
    height: var(--height-footer);
    font-size: 26px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    @include flex(flex-start, center);

    & img {
        width: 48px;
        height: 72px;
        margin-top: 14px;
        margin-bottom: 14px;
        border: 8px solid white;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        
    }

    & p {
        margin-left: -25px;
    }

    & span {
        font-size: 20px;
    }
}

.container-button {
    @include flex(center, center);

    & button {
        border: none;
    width: auto;
    background-color: var(--color-text-header-and-button);
    border-radius: 3px;
    color: white;
    font-size: 18px;
    padding: 10px;
    margin-top: 57px;
    margin-bottom: calc(var(--height-footer) - 20px);
    
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 4px 4px rgba(0,0,0,0.4);
    }
    }
}

.selected {
    background-color: #8DD7CF;
    border: 1px solid #1AAE9E;
}

.unavailable {
    background-color: #FBE192;
    border: 1px solid #F7C52B;
}

.available {
    background-color: var(--color-header);
    border: 1px solid #808F9D;
}